/* Common styles */
@import url('./reset.css');



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  font-family: 'Montserrat', sans-serif;
}

input {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

input:hover,
input:focus {
  border-color: #000;
}

input:active {
  border-color: #4e75ff;
}

input:disabled {
  border-color: #808080;
  background: #fafafa;
  color: #808080;
}

button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  background: #cfcfcf;
  color: #989898;
  width: 75px;
  height: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

button:hover,
button:focus {
  background: #6c8cff;
}

button:active {
  background: #4e75ff;
  color: #fff;
}

button:disabled {
  background: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  color: #2e2f42;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  letter-spacing: 1.6px;
}

.label {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}